button {
  border-radius: 25px;
}

html {
  font-family: 'Barlow';
  overflow-x: hidden;
  background-color: #FFF5F1;

}
#onBoarding{
  min-height: 55%;
}
.statCard {
  background: #FFF5F1;
  border-color: black;
  border-width: 20px;
}

.Treant>.node {
  /* background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%); */
  background: white;
  color: black;
  padding: 10px;
  /* border: 1px solid #484848; */
  border-radius: 15px;
}



header {
  position: relative;
  z-index: -1;
  height: 450px;
  /* padding-bottom: 100px; */
  /* border-radius: 0px 0px 488px 488px; */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(223.46deg, #00E0FF -4.53%, #D700F9 134.16%);
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vw;
  /* set height to pixels if you want angle to change with screen width */
}
.treeCard {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);

}

@keyframes pastelRainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card {
  border-radius: 20px;
}

.card-content {
  padding: 0px;
}

.modal {
  border-radius: 20px;
}
