button {
  border-radius: 25px;
}

html {
  font-family: 'helvetica';
  overflow-x: hidden;
  */ background-color: #fff;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}


header {
  position: relative;
  height: 550px;
  padding-bottom: 100px;
  background: linear-gradient(0deg, #2edcd7 0%, #141b65 100%);
  border-bottom-left-radius: 90% 30%;
  border-bottom-right-radius: 90% 30%;
}



.card {
  border-radius: 25px;
  padding: 0px;
}

.modal {
  border-radius: 20px;
}

@keyframes pastelRainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
